<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <runtime>
      <loadFromRemoteSources enabled="true"/>
    </runtime>  
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IItemService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51800/ItemService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IItemService" contract="ItemServiceRef.IItemService"
                name="BasicHttpBinding_IItemService" />
        </client>
    </system.serviceModel>
</configuration>